
/* footer section starts */
.footer{
    min-height: auto;
    padding-top: 0;
    background: var(--foot3-color);
  }
  .footer .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer .box-container .box{
    flex: 1 1 25rem;
    margin: 2.5rem;
  }
  .footer .box-container .box h3{
    font-size: 2.5rem;
    color: var(--btn-color);
    padding-bottom: 1rem;
    font-weight: normal;
  }
  .footer .box-container .box p{
    font-size: 1.5rem;
    color: var(--foot1-color);
    padding: .7rem 0;
    text-transform: none;
  }
  .footer .box-container .box p i{
    padding-right: 1rem;
    color: var(--thirtyone-color);
  }
  .footer .box-container .box a{
    font-size: 1.5rem;
    color: rgb(238, 238, 238);
    padding: .3rem 0;
    display: block;
  }
  .footer .box-container .box a:hover{
    color: var(--thirtyone-color);
  }
  .footer .box-container .box .share{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
  }
  .footer .box-container .box .share a{
    height: 4rem;
    width: 4rem;
    padding: 1rem;
    text-align: center;
    border-radius: 5rem;
    font-size: 1.7rem;
    margin-right: 1rem;
    transition: .2s;
    background: var(--twefour-color);
    color: var(--exe3-color);
    
  }
  .footer .box-container .box .share a:hover{
    background: transparent;
    transform: scale(0.98);
    border: .1rem solid var(--btn-color);
    color: var(--thirtyone-color);
  }
  .footer .credit{
    padding: 1rem 0 0 0;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Nunito',sans-serif;
    font-weight: 600;
    color: var(--btn-color);
    border-top: .1rem solid var(--foot1-color);
  }
  .footer .credit a{
    color: var(--thirtyone-color);
  }
  .footer .fa{
      color: var(--foot2-color);
      margin: 0 .3rem;
      font-size: 1.5rem;
      animation: pound .35s infinite alternate;
  }
  @-webkit-keyframes pound{
    to{
      transform: scale(1.1);
    }
  }
  @keyframes pound{
    to{
      transform: scale(1.1);
  }
  }
  @media(max-width:450px){
    .footer .box-container .box{
      margin: 1.5rem;
    }
    .footer .box-container .box p{
      padding: 0.7rem;
    }
    .footer .box-container .box .share a{
      padding: 1.2rem;
    }
  }
  /* footer section ends */
  