/* hero section starts*/
.home{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 100vh;
    align-items: center;
   z-index: 10;
  }
  #particles-js{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
  }
  .home::before{
    content: '';
    position: absolute;
    
    top: 0;left: 0;
    height: 100%;
    width: 100%;
  }
  .home .content{
    flex: 1 1 40rem;
    padding-top: 1rem;
    z-index: 40;
  }
  .home .image{
    flex: 1 1 40rem;
    z-index: 4;
    
  }
  .home .image img{
    width: 70%;
    margin-left: 6rem;
    border-radius: 50%;
    box-shadow: 0 1px 4px var(--third-color);
    cursor: pointer;
    background-color: var(--nine-color);
  
  }
  .home .image img:hover{
    box-shadow: 0 5px 15px var(--third-color);
  }
  .home .content h3{
    font-size: 5rem;
    font-weight: 800;
    color: var(--eight-color);
  }
  .home .content h3 span{
    font-size: 5rem;
    font-weight: 800;
    color: var(--fifth-color);
  }
  .home .content p{
    font-size: 2.5rem;
    color: var(--zero-color);
    font-weight: 600;
    padding: 1rem 0;
  }
  .home .content p span{
    font-size: 2.5rem;
    color: var(--ten-color);
    font-weight: 600;
    padding: 1rem 0;
  }
  .home .btn {
    margin-top: 1rem;
    position: absolute;
    line-height: 0;
    padding: 1.6rem 3rem;
    border-radius: 4em;
    transition: 0.5s;
    color: var(--btn-color);
    background: var(--eleven-color);
    box-shadow: 0px 5px 10px var(--twelve-color);
    font-family: 'Nunito', sans-serif;
  }
  .home .btn span {
    font-weight: 700;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
  }
  .home .btn i {
    margin-left: 0.3rem;
    font-size: 1.5rem;
    transition: 0.3s;
  }
  .home .btn:hover{
    background: var(--thirteen-color);
  }
  .home .btn:hover i {
    transform: translateX(5px);
  }
  /* social icons start */
  .socials{
    position: relative;
    margin-top: 9rem;
  }
  .socials .social-icons {
    padding-left:0;
    margin-bottom:0;
    list-style:none
  }
  .socials .social-icons li {
    display:inline-block;
    margin-bottom:14px
  }
  .social-icons a {
    font-size:2rem;
    display:inline-block;
    line-height:44px;
    color: var(--fourteen-color);
    background-color:var(--third-color);
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
  }
  .social-icons a:active,.social-icons a:focus,.social-icons a:hover {
    color:#fff;
    background-color:#0685da
  }
  .social-icons a.github:hover {
    background-color:#0e0e0e
  }
  .social-icons a.email:hover {
    background-color:#ff3333
  }
  .social-icons a.linkedin:hover {
    background-color:#007bb6
  }
  .social-icons a.dev:hover {
      background-color:#070707
  }
  .social-icons a.instagram:hover {
      background-color:#ee00da
  }
  /* social icons end */
  
  /* hero media queries starts*/
  @media(max-width:768px ){
    .home .image {
      text-align: center;
      flex: 1 1 35rem;
    }
    .home .image img{
      
      width: 60%;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
     
     
    }
  }
  @media(max-width:450px){
    .home .btn{
      margin: 4rem 0;
    }
    .home .content{
      margin-top: 50px;;
    }
    .socials{
      margin-top: 12rem;
    }
    .home .image {
      text-align: center;
      flex: 1 1 35rem;
    }
    .home .content p {
      font-size: 2.2rem;
    }
    .home .content p span{
      font-size: 2.2rem;
    }
    .home .image img{
    
      width: 55%;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      
    }
  }
  
  /* hero media queries ends*/
  /* hero section end */